<div id="<%= dom_id profil %>">
  <p>
    <strong>First name,:</strong>
    <%= profil.first_name, %>
  </p>

  <p>
    <strong>Last name,:</strong>
    <%= profil.last_name, %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= profil.age %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= profil.birthdate %>
  </p>

</div>
